.container-fluid {
  background-color: green;
}

img {
  width: 200px;
  display: inline;
}

.top {
  background-color: green;
  height: 20vh;
}

.middle {
  background-color: tan;
  overflow: auto;
}

.bottom {
  background-color: green;
  /* overflow: scroll; */
  height: 100%;
}
