
.main-image {
  width: 300px;
  display: inline;
}

.doc-iamge {
  width: 40px;
  display: inline;
}

.top {
  height: 20vh;
  vertical-align: middle;
  line-height: 20vh;
}

.middle {
  border: 1px, black;
}

.bottom {
  overflow: scroll;
  height: 100%;
}
